// VARIABLES DECLARATION
// --------------------------------------------------------------
// COLOR

$color-primary-dark: hsl(158, 36%, 37%);
$color-primary-cream: hsl(30, 38%, 92%);
$color-secondary-dark: hsl(212, 21%, 14%);
$color-secondary-light: hsl(228, 12%, 48%);
$color-white: hsl(0, 0%, 100%);

// FONT
$font-primary: 'Fraunces', serif;
$font-secondary: 'Montserrat', sans-serif;

// SIZE BASE 14px MULTIPLIED BY 1.333 PERFECT FOURTH
$font-h1: 5.61vw;
$font-h2: 4.209rem;
$font-h3: clamp(2rem, 2.5rem, 4rem);
$font-h4: clamp(1rem, 2rem, 3.5rem);
$font-h5: clamp(1rem, 1.5rem, 2.5rem);
$font-h6: clamp(0.8rem, 1rem, 1.5rem);
$font-p: clamp(0.6rem, 1rem, 1.6rem);
$font-small: 0.75vw;

@mixin cardsize($min-width, $width, $max-width) {
  height: 50%;
  width: clamp($min-width, $width, $max-width);
}

// STYLING
// ----------------------------------------------------------------------
// GENERAL

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
h1 {
  font-size: $font-h1;
}
h2 {
  font-size: $font-h2;
}
h3 {
  font-size: $font-h3;
  line-height: clamp(1rem, 1.5rem, 2rem);
}
h4 {
  font-size: $font-h4;
  line-height: 2rem;
}
h5 {font-size: $font-h5;}
h6 {font-size: $font-h6;}
p {
  font-size: $font-p;
  line-height: min(1.5rem, 1.6rem);
}

// LAYOUT
// ----------------------------------------------------------------------
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-primary-cream;
  .card {
    width: min(70vw, 600px);
    height: min-content;
    margin-block-end: 2rem;
    background-color: $color-white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    overflow: hidden;

    & > div {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $color-white;
    }
    .banner {
      width: 50%;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .details {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.4rem;

      .description {
        margin-block-end: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
    }
  }
}

// TYPOGRAPHY
// ----------------------------------------------------------------------
.description {
  .title, .brandline {
    font-family: $font-secondary;
    font-weight: 400;
    color: $color-secondary-light;
  }
  .title{
    letter-spacing: 0.2rem;
  }
  .brand{
    margin-block-start: 1.5rem;
    margin-block-end: 1.2rem;
    font-family: $font-primary;
  }
}
.price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-start;
  flex-wrap: wrap;
  gap: 0.6rem;
  margin-block-end: 1rem;
  .now {
    font-family: $font-primary;
    font-weight: 700;
    color: $color-primary-dark;
  }
  .then {
    font-family: $font-secondary;
    font-size: $font-p;
    font-weight: 400;
    text-decoration: line-through;
    color: $color-secondary-light;
  }
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  font-family: $font-secondary;
  font-size: $font-p;
  font-weight: 400;
  background-color: $color-primary-dark;
  color: $color-white;
  border: 0;
  padding: 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: darken($color: $color-primary-dark, $amount: 20);
  }
}

// MEDIA QUERIES
// ----------------------------------------------------------------------
@media (max-width: 768px) {
  p{
    line-height: 1.2rem;
  }

  body{
    min-height: 100vh;
    .card {  
      .details {
        padding: 0.5rem;
        padding-inline: 1rem;
      }
      .description {
        margin: 0;
        .brand {
          margin-block-start: 1rem;
          margin-block-end: 0.6rem;
        }
      }
    }
  }
  
}

@media screen and (max-width: 595px) {
  body {
    height: auto;
    .card {
      display: flex;
      flex-direction: column;
      height: max-content;

      .banner {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .details {
        padding: 1rem;
        width: 100%;
        .description {
          margin-block-end: 1rem;

          .title{
            font-size: 1rem;
          }
          .brand {
            font-size: 1.8rem;
          }
          .brandline {
            font-size: 1rem;
          }
        }
        .price {
          .now {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}